* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
      --bg-1: #bfbfbf;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
      --bg-1: #17161a;
  }
}

html {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
    line-height: 1.5;
    font-size: 1.125rem;
}

li {
    margin-left: 16px;
}

p {
    max-width: 100%;
}

img,
svg,
video {
    max-width: 80%;
    display: block;
    margin-inline: auto;
    border-radius: 12px;
    aspect-ratio: auto;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: min(120ch, 100% - 2rem);
    margin-inline: auto;
    overflow: hidden;
}

h1.site-title {
    text-align: center;
    margin-block: 20px;
}

h1.site-title a {
    display: inline-block;
    color: currentcolor;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1.site-title a > img {
  margin-inline: 1rem;
  width: 5rem;
  border-radius: 50%;
}

.post > .postDetails,
.author > .authorDetails,
.tag > .tagDetails,
.postInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    background-color: var(--bg-1);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-size: 0.9rem;
}

.post > .postDetails,
.author > .authorDetails,
.tag > .tagDetails {
    padding-block: 50px;
    margin: 20px 50px;
}

.postsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.postInfo {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding-block: 50px;
}

.post > .postDetails > .image,
.postInfo > .image,
.author > .authorDetails > .authorDetailsAvatar {
    margin: 0;
    max-height: 40vmin;
    display: block;
    object-fit: cover;
    z-index: 1;
}

.postInfo > .image {
    width: 100%;
}

.author > .authorDetails > .authorDetailsAvatar {
    border-radius: 50%;
    max-height: 20vmin;
    aspect-ratio: 1/1;
}

.post > .postDetails > .right,
.author > .authorDetails > .right,
.tag > .tagDetails > .right,
.postInfo > .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postInfo > .right .title {
    color: currentcolor;
    font-size: 1.4rem;
    font-weight: bold;
}

.tag > .tagDetails > .right > p.postsCount,
.author > .authorDetails > .right > p.postsCount {
    margin-top: 10px;
    font-size: 1.1rem;
}

.post > .postDetails > .right > .author,
.postInfo > .right > .author {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    margin-block: 20px;
}

.postInfo > .right > .author {
    margin-block: 10px;
    font-size: 1rem;
}

.post > .postDetails > .right > .author img,
.postInfo > .right > .author img {
    max-height: 48px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
    aspect-ratio: 1/1;
}

.postInfo > .right > .author img {
    max-height: 32px;
}

.post > .postDetails > .right > .author a,
.postInfo > .right > .author a {
    color: currentcolor;
}

.post > .postDetails > .right > .tags,
.postInfo > .right > .tags {
    display: flex;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
}

.post > .postDetails > .right > .tags > .tag,
.postInfo > .right > .tags > .tag {
    padding: 5px 8px;
    background-color: #19A7CE;
    border: 2px solid #146C94;
    color: white;
    text-decoration: none;
    border-radius: 24px;
    font-size: 0.9rem;
}

.post > .postDetails > .right > .dates {
    font-size: 0.95em;
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}
