* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
      --bg-1: #bfbfbf;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
      --bg-1: #17161a;
  }
}

html {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
    line-height: 1.5;
    font-size: 1.125rem;
}

li {
    margin-left: 16px;
}

p {
    max-width: 100%;
}

img,
svg,
video {
    max-width: 80%;
    display: block;
    margin-inline: auto;
    border-radius: 12px;
}

main {
    width: min(100ch, 100% - 4rem);
    margin-inline: auto;
}

h1.site-title {
    text-align: center;
    margin-block: 20px;
}

.post > .postDetails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    position: relative;
    background-color: var(--bg-1);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-size: 0.9rem;
}

.post > .postDetails > .image {
    margin: 0;
    width: 50vmin;
    display: block;
    object-fit: cover;
    z-index: 1;
}

.post > .postDetails > .right {
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.post > .postDetails > .right > .author {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    margin-block: 20px;
}

.post > .postDetails > .right > .author img {
    height: 48px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 10px;
    aspect-ratio: 1/1;
}

.post > .postDetails > .right > .author a {
    color: white;
}

.post > .postDetails > .right > .dates {
    font-size: 0.95em;
}
